<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>hypergrass</title>
</head>
<body>
    <div class=" container justify-content-center ">
        <legend class="border-bottom mb-4">You have been logged out</legend>
        <small class="text-muted">
            Log In Again? <a class="ml-2" href='{% url "user-login" %}'>Sign In</a>
        </small>
</div>
</body>
</html>